body {
  background-color: black;
}

.meme {
  width: 50%;
  margin-left: 25%;
  margin-top: 100px;
  text-align: center;
}

.meme img {
  width: 100%;
  border: 5px solid white;
}

.meme h1 {
  color: white;
  font-family: "Libre Baskerville", serif;
  text-transform: uppercase;
  font-size: 3rem;
  margin-top: 25px;
}

.description {
  color: white;
  font-family: "Libre Baskerville", serif;
  font-size: 1.25rem;
}